body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
    font-size: 16px;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
img {
    display: block;  
}
a {
    text-decoration: none;
}

/*common*/

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

/*header*/
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.nav-list {
    gap: 40px;
}

.header-container,
.haeder-nav-container,
.nav-list,
.contacts-list {
    display: flex;
    align-items: center;
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.header-logo,
.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    color: #4d5ae5;
    letter-spacing: 0.03em
}

.logo-part {
    color: #2e2f42;
}

.footer-logo .logo-part {
    color: #f4f4fd;
}

.nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
position: relative;
}

.nav-link.current::after {
content: '';
position: absolute;
left: 0;
bottom: -1px;
background: #404bbf;
border-radius: 2px;
    width: 100%;
    height: 4px;
}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-list {
    gap: 40px;
}

.contacts-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.nav-link.current {
    color: #404bbf;
}

.page-footer {
    background-color: #2e2f42;
    padding: 100px 0;
    display: flex;
    align-items: baseline;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.main-section {
    /*background-color: #2e2f42;*/
    width: 1440px;
    margin: 0 auto;
    background-image: 
    linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
    url(../images/WebStudio/people-office.jpg);
    background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    margin: 0 auto;
    align-items: center;
    padding: 188px 0;
    border: 1px;
}

.main-title {
    text-align: center;
    max-width: 496px;
    margin: 0 auto 48px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.main-button {
    margin: 0 auto;
    display: block;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background: #4d5ae5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff
}

.main-button:hover,
.main-button:focus {
    background-color: #404BBF;
}
.main-button {
                background-color: #4D5AE5;
                transition-property: background-color;
                stroke: 000000 0.4;
transition-duration: 150ms;
transition-delay: 170ms;
            }
.main-button:hover {
                background-color: #404BBF;

            }

.text {
    margin: auto;
}

.text-icon {
    border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        background: #f4f4fd;
        margin-bottom: 8px;
}
.text-icon-svg {
    margin: 24px 100px;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}
.social-links {
    display: flex;
        gap: 24px;
        flex-shrink: 0;
        align-self: flex-end;
        margin-left: 16px;
}
.social-links .svg-avatar {
    display: flex;
    margin-top: 8px;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5
}

.social-links .svg-avatar {
                    
    transition-property: background-color, transform;
    transition-duration: 250ms;
    transition-timing-function: linear;
    transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links .svg-avatar:hover {
background-color: #31D0AA;
}



.page-footer .social-links {
justify-content: center;}

.svg-avatar-icon {
fill: #f4f4fd;
       
}
.text-list {
    display: flex;
    gap: 24px;
}

.text-item {
    width: calc((100% - 3 * 24px) / 4);
    max-width: 100%;
    max-height: auto;
}

.img-avatar-list,
.img-illustration-list {
    display: flex;
    gap: 24px;
flex-shrink: 0;
    align-self: flex-end;
}
.img-avatar-list .svg-avatar-icon:hover {
background-color: #fff;

}


.img-avatar-item {
    width: calc((100% - 3 * 24px) / 4);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    border-radius: 0 0 4px 4px;
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);;

}

.box-img {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;

    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    padding: 40px 32px;
    background-color: #4D5AE5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.img-illustration-item:hover .overlay {
    transform: translateY(0);
}





.text-heading-title,
.img-avatar-heading,
.img-illustration-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.text-lead,
.img-avatar-lead,
.img-illustration-lead,
.footer-lead {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.text-heading-title {
    margin-bottom: 8px;
}



.img-avatar {
    background-color: #f4f4fd;
}

.img-avatar-title,
.img-illustration-title {

    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.img-illustration-title,
.img-avatar-title {
    text-transform: capitalize;
    margin-top: 120px auto;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.img-avatar-item,
.img-illustration-list {
    background-color: #FFFFFF
}

.img-avatar {
    margin: 0 auto;

}

.img-illustration-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
}

.img-illustration-item {
    width: calc((100% - 48px) / 3);
}

.text-avatar {
    text-align: center;
    /*margin: 32px 0 32px;*/
    padding: 32px 0
}

.img-avatar-heading,
.img-illustration-heading {
    margin-bottom: 8px;
}

.text-illustration {
    padding: 32px 16px;
    padding-left: 16px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}
.footer-lead {
    max-width: 264px;
    color: #f4f4fd;
}
.page-footer {
    display: flex;
    align-items: baseline;
    max-width: 1158px;
    padding: 156px 692px 100px 156px;
    margin-left: 156px;
    margin: 0 auto;

}
