body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
    font-size: 16px;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;

    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    margin: -1px;
}

/*common*/

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}
@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}
/*header*/
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-list,
.contacts {
    display: none;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    color: #4d5ae5;
    letter-spacing: 0.03em
}

button {
    cursor: pointer;
}

.header-logo {
    padding: 16px 0;
    display: block;
}
.logo-part {
    color: #2e2f42;
}
.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}
.burger-icon {
    display: block;
    fill: #2f2f37;
}
@media screen and (min-width: 768px) {
    .burger-btn {
    display: none;
    }     
    .nav-list {
    gap: 40px;
    display: flex;
    align-items: center;
    } 
    .contacts {
    font-style: normal;
    display: block;
    }
    .header-nav {
    display: flex;
    }
    .header-logo {
    padding: 24px 0;
    display: block;
    margin-right: 120px;
    }
   
    
.nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
    position: relative;
}

.nav-link.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    background: #404bbf;
    border-radius: 2px;
    width: 100%;
    height: 4px;
}
.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.nav-link.current {
    color: #404bbf;
}
.contacts-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
}
@media screen and (min-width: 1158px) {
    .header-logo {
    margin-right: 76px;
    } 
    .contacts-list {
    flex-direction: row;        
    align-items: center;
    gap: 40px;
    }
    .contacts-link {
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}
.main-section {
    /*background-color: #2e2f42;*/
    margin: 0 auto;
    background-image:
        linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/Dark-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    padding: 188px 0;
    border: 1px;
}
.main-title {
    text-align: center;
    max-width: 216px;
    margin: 0 auto 48px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}
.main-button {
    margin: 0 auto;
    display: block;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #4d5ae5;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:hover,
.main-button:focus {
    background-color: #404BBF;
}
@media screen and (min-width: 768px) {
    .main-section {
        max-width: 768px;
        background-image:
            linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/Dark-bgpl.jpg);
        }
 
    .main-title {
        max-width: 496px;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 36px;
    }
    
}
@media screen and (min-width: 1158px) {
    .main-section {
        max-width: 1440px;
        background-image:
            linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/WebStudio/people-office.jpg);
               padding: 188px 0;
    } 
    .main-title {
        margin: 0 auto 48px;
    }
}

.text {
    margin: 96px auto;
    
}
.text-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 72px;
}
.text-item {
    max-width: 100%;
    height: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text-icon {
    display: none;
}
.text-heading-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;

}
.text-lead {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    max-width: 288px;
}
@media screen and (min-width: 768px) {
  
    .text-list {
       margin: 0 16px;
        flex-wrap: wrap;  
        flex-direction: unset;
        gap: 72px 24px;
    }
    .text-item {
        flex: 72px;
    }
    .text-lead {
        max-width: none;
        width: 356px;
    }
    .text-heading-title {
        text-align: justify;
    }
}
@media screen and (min-width: 1158px) {
.text-list {
    
    gap: 24px;
}
    .text-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        background: #f4f4fd;
    
    }
    .text-item {
        width: calc((100% - 3 * 24px) / 4);
        max-width: 100%;
        height: auto;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .text-heading-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        margin-top: 8px;
        
    }
    .text-lead {
        width: 264px;
        height: auto;
    }
}
.img-avatar {
    background-color: #f4f4fd;
    margin: 0 auto;
    }
.img-container {
    padding: 93px 0 99px;

}
.img-avatar-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 72px;
    flex-shrink: 0;
    align-self: flex-end;
    margin: 0 28px;
}

.img-avatar-title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}
.img-avatar-item {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    border-radius: 0 0 4px 4px;
    background-color: #FFFFFF


}
.img-avatar-lead {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}




.text-avatar {
    text-align: center;
    padding: 32px 0
}
.img-avatar-heading {
    margin-bottom: 8px;
}
.svg-avatar {
    display: flex;
    width: 40px;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.svg-avatar-icon {
    fill: #f4f4fd;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links .svg-avatar {
    display: flex;
   
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links-items {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.social-links {
    margin-top: 8px;
    justify-content: center;
    display: flex;
    gap: 24px;
    flex-shrink: 0;
    align-self: flex-end;
    height: 40px;
}
.social-links .svg-avatar:hover {
    background-color: #404bbf;
}

.social-links .svg-avatar:focus {
    background-color: #404bbf;
}
@media screen and (min-width: 768px) {
    .container { padding: 0;
    }
   
    
.img-avatar {
    max-width: 768px;
    background-color: #f4f4fd;
    margin: 0 auto;
    padding: 96px 108px;
}
.img-avatar-list {
    flex-wrap: wrap;  
    flex-direction: unset;
    gap: 72px 24px;
    margin: 0 auto;
}

@media screen and (min-width: 1158px) {
    .img-avatar {
    max-width: 1158px;
    padding: 120px 0;
    }
}
}

.img-illustration {
    margin: 0 auto;
    padding-top: 93px;
    padding-bottom: 96px;
width: 288px;
}

.img-illustration-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-self: flex-end;
    background-color: #FFFFFF;
    align-items: center;
}
.box-image {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}
.text-overlay {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3f51b5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box-image .text-overlay {
    background-color: #4d5ae5;
}

.img-avatar-list .svg-avatar-icon:hover {
    background-color: #fff;
}
.img-illustration-item:hover .overlay {
    transform: translateY(0);
}
.img-illustration-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    .text-overlay {
        transform: translateY(0%);
    }
}
.img-illustration-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.img-illustration-lead {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.img-illustration-title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.img-illustration-title {
    text-transform: capitalize;
}

.img-illustration-item {
    width: 288px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.img-illustration-heading {
    margin-bottom: 8px;
}
.text-illustration {
    padding: 32px 16px;
    padding-left: 16px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
}
@media screen and (min-width: 768px) {
    .img-illustration {
    width: 736px;
    }
    .img-illustration-list {

        flex-wrap: wrap;  
        flex-direction: unset;
        gap: 72px 24px;
        margin: 0 auto;
        align-items: center;
    }
    .box-image {
        max-width: 356px;
    }
    .img-illustration-item {
        width: calc((100% - 24px) / 2);

}
    @media screen and (min-width: 1158px) {
        .img-illustration {
            margin: 0 auto;

            max-width: 1158px;
            padding: 120px 0;
            }  
            .img-illustration-list {
                display: flex;
                flex-wrap: wrap;
                gap: 40px 24px;
                align-self: flex-end;
                background-color: #FFFFFF;
                align-items: center;
            }
            .img-illustration-item {
                width: calc((100% - 48px) / 3);
                transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }
    }
}


.page-footer {
    width: 320px;
}

.footer-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background: #2e2f42;
    max-width: 320px;
    gap: 72px;
}
.footer-lead {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}  

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.footer-logo {
    display: inline-block;
    margin: 0 auto 16px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    color: #4d5ae5;
    letter-spacing: 0.03em;
}


.footer-logo .logo-part {
    color: #f4f4fd;
}
.page-footer {
    background-color: #2e2f42;
    padding: 100px 0;
    align-items: center;
}

.footer-lead {
    max-width: 264px;
    color: #f4f4fd;
}
.page-footer .social-links {
    justify-content: center;
}


.social-links-footer {
    display: flex;
    gap: 16px;
}

.social-items-footer {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-footer .svg-avatar:hover {
    background-color: #31d0aa;
}

.social-links-footer .svg-avatar:focus {
    background-color: #31d0aa;
}
.social-text {
    margin: 0 auto 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.footer-social-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.p-form-subscribe {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.form-subscribe {
    margin: 0 16px;
    display: flex;
    gap: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 288px;

}

.form-footer {
    display: flex;
    gap: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.email-enter {
    width: 288px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: transparent;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    padding-left: 16px;
    opacity: 0.3;
}

.email-enter::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
}
.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4D5AE5;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    cursor: pointer;
}

.submit-icon {
    margin-left: 16px;
}
.send-icon {
    fill: #fff;
}
@media screen and (min-width: 768px) {
    .page-footer {
        width: 768px;
    }
    
.footer-main {
    flex-direction: unset;
    flex-wrap: wrap;
   
    align-items: baseline;
    max-width: 768px;
    margin-left: 108px;
    margin: 0 auto;
}
.form-footer {
    display: flex;
    gap: 24px;
    flex-direction:unset;
    justify-content: baseline;
    align-items:first baseline;
}
.form-subscribe {
       gap: 24px;
    flex-wrap: wrap;
    align-items:first baseline;
    width: 288px;

}
.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}}

@media screen and (min-width: 1158px) {

    
}




/*
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
